{:itonami.blueprint/id "cloud-itonami-isic-5210"
 :itonami.blueprint/name "Storage (terminal/depot)"
 :itonami.blueprint/isic-rev5 "5210"
 :itonami.blueprint/domain :midstream/terminal-storage
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:safety :environmental-protection :transparency]
 :itonami.blueprint/governor :terminal-storage-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
